{{> menu active="dashboard"}}

<section class="section">
  

  {{#isEqual user.permission "ADMIN"}}
  <h1 class="title is-4">Locations that have been added:</h1>
  {{/isEqual}}
  {{#isEqual user.permission "USER"}}
  <h1 class="title is-4">Locations you have added:</h1>
  {{/isEqual}}
  {{> list-locations}}
  {{> add-location}}
</section>