{{> welcome-menu}}

<section class="section">
  <div class="has-text-centered">
    <p class="is-size-4">Ready to find your next board game adventure?</p>
    <br>
    <p>Join Board Buddy today and connect with a community of board game enthusiasts. Discover local gaming spots, meet new friends, and explore a wide variety of games.</p>
    <br>
    <div class="buttons is-centered">
      <a class="button is-primary" href="/signup">Sign Up</a>
      <a class="button is-light" href="/login">Log In</a>
    </div>
  </div>
</section>
