{{> menu active="search"}}

<section class="section">
  <h1 class="title is-3">Search</h1>
  <p class="subtitle is-4">Filter by category:</p>
  <div class="buttons">
    <a class="button" href="/search">All</a>
    <a class="button" href="/search/restaurant">Restaurants</a>
    <a class="button" href="/search/bar">Bars</a>
    <a class="button" href="/search/store">Stores</a>
  </div>

  {{> results }}
</section>