<section class="section">
  <div class="container">
    <h1 class="title">Add New Location</h1>
    <form action="/dashboard/add" method="POST">
      <div class="field">
        <label class="label">Location Title</label>
        <div class="control has-icons-left">
          <input class="input" type="text" placeholder="Enter location title" name="title" required>
          <span class="icon is-small is-left">
            <i class="fas fa-map-marker-alt"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Category</label>
        <div class="control has-icons-left">
          <div class="select is-fullwidth">
            <select name="category" required>
              <option>Select category</option>
              <option value="bar">Bar</option>
              <option value="cafe">Cafe</option>
              <option value="restaurant">Restaurant</option>
              <option value="library">Library</option>
              <option value="bookstore">Bookstore</option>
            </select>
          </div>
          <span class="icon is-small is-left">
            <i class="fas fa-layer-group"></i>
          </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control is-expanded">
          <label class="label">X Coordinate (Longitude)</label>
          <input class="input" type="text" placeholder="Enter X coordinate" name="x" pattern="^-?\d{1,3}\.\d+$" title="Enter a valid longitude." required>
        </div>
        <div class="control is-expanded">
          <label class="label">Y Coordinate (Latitude)</label>
          <input class="input" type="text" placeholder="Enter Y coordinate" name="y" pattern="^-?\d{1,2}\.\d+$" title="Enter a valid latitude." required>
        </div>
      </div>

      <div class="field">
        <button class="button is-link">Add Location</button>
      </div>
    </form>
  </div>
</section>
