<form action="/dashboard/addlocation" method="POST">
  <div class="field">
    <label class="label">Location Title</label>
    <input class="input" type="text" placeholder="Enter location title" name="title" />
  </div>
  <button class="button is-link">Add Location</button>
</form>