<form class="box" action="/location/{{location._id}}/add/game" method="POST">
  <label>Enter Game Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title" />
      </div>
        <div class="field">
            <input class="input" type="number" placeholder="Enter Age" name="age" />
        </div>
        <div class="field">
            <input class="input" type="number" placeholder="Enter Min Players" name="minPlayers" />
        </div> 
        <div class="field">
            <input class="input" type="number" placeholder="Enter Max Players" name="maxPlayers" />
        </div>
        <div class="field">
            <input class="input" type="number" placeholder="Enter Play Time" name="duration" />
        </div>
    </div>
  </div>
  <button class="button is-primary">Add Game</button>
</form>