<form action="/dashboard/addlocation" method="POST">
  <div class="field">
    <label class="label">Location Title</label>
    <input class="input" type="text" placeholder="Enter location title" name="title" />
  </div>
  <div class="field">
    <label class="label">Category</label>
    <div class="select">
      <select name="category">
        <option>Select category</option>
        <option value="restaurant">Restaurant</option>
        <option value="bar">Bar</option>
        <option value="cafe">Cafe</option>
      </select>
  </div>
  <button class="button is-link">Add Location</button>
</form>