<nav class="navbar">
  <div class="navbar-brand">
    {{#unless user}}
      <a id="start" class="navbar-item" href="/"> Home </a>
    {{/unless}}
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#isEqual user.permission "ADMIN"}}
            <a id="admin" class="button" href="/admin">Admin</a>
            <a id="admin-stats" class="button" href="/admin/stats">Stats</a>
          {{/isEqual}}

          <a id="dashboard" class="button" href="/dashboard">Dashboard</a>
          <a id="search" class="button" href="/search">Search</a>
          {{#isEqual user.permission "USER"}}
            <a id="profile" class="button" href="/profile">Profile</a>
          {{/isEqual}}
          <a id="about" class="button" href="/about">About</a>
          <a id="logout" class="button" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>
