<nav class="navbar">
  <div class="navbar-brand">
    {{> boardbuddy-brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <!-- if user.permission is set to admin show admin links -->
          {{#isEqual user.permission "ADMIN"}}
            <a id="admin" class="button" href="/admin"> Admin </a>
          {{/isEqual}}
          <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
          <a id="search" class="button" href="/search"> Search </a>
          <a id="about" class="button" href="/about"> About </a>
          <a id="logout" class="button" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>